SUPABASE_PASSWORD=your-supabase-db-password
SUPABASE_DIRECT_CONNECT_URL=postgresql://postgres:[YOUR-PASSWORD]@db.<project-ref>.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.<project-ref>:[YOUR-PASSWORD]@aws-1-<region>.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE=your-supabase-service-role-key

TRON_PRIVATE_KEY=your-tron-wallet-private-key
TRON_GRID_API=https://nile.trongrid.io
TRON_API_KEY=your-tron-grid-api-key
TRON_RECEIVER_ADDRESS=your-tron-receiver-address

GROQ_API_KEY=your-groq-api-key-1
GROQ_API_KEY2=your-groq-api-key-2
GROQ_API_KEY3=your-groq-api-key-3
GROQ_API_KEY4=your-groq-api-key-4
GROQ_API_KEY5=your-groq-api-key-5

TOGETHER_API_KEY=your-together-api-key

JWT_SECRET=your-jwt-secret-key

ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com

ESEWA_SECRET_KEY=your-esewa-secret-key
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_BASE_URL=https://rc-epay.esewa.com.np
ESEWA_VERIFY_URL=https://rc.esewa.com.np/api/epay/transaction/status/
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
