SUPABASE_PASSWORD=UNNm2g7qsGcOJrQi
SUPABASE_DIRECT_CONEECT_URL=postgresql://postgres:[YOUR-PASSWORD]@db.owsoropgwbhirosppyro.supabase.co:5432/postgres
SUPABASE_URL=https://owsoropgwbhirosppyro.supabase.co
SUPABASE_KEY=sb_publishable_fezDkydq6oUoIohESN5JOg_Xq4n8mvW